<header class="header">
  <div class="container">
    <nav class="nav">
      <svg class="social-icon" width="123" height="16">
        <use href="../img/symbol-defs.svg#icon-logo"></use>
      </svg>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-item-link" href="#about-us">about us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="#our-courses">our courses</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="#our-mentors">our mentors</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="#reviews">reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="#contacts">contacts</a>
        </li>
      </ul>
    </nav>
    <button class="signup-btn" type="button">sign up</button>
    <a href="https://google">
      <svg class="camera-icon" width="124" height="124">
        <use href="../img/symbol-defs.svg#icon-camera"></use>
      </svg>
    </a>
    <button class="mob-menu-btn">
      <svg class="burger-icon" width="124" height="124">
        <use href="../img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
