.header {
  padding-top: 17px;
  padding-bottom: 17px;
}
.container {
}
.nav {
}
.social-icon {
}
.nav-list {
  display: none;
}
.nav-list-item {
}
.nav-item-link {
}
.signup-btn {
  display: none;
}
.camera-icon {
}
.mob-menu-btn {
  background-color: transparent;
  border: none;
}
.burger-icon {
  fill: white;
}
