.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-nav-wrap {
  padding: 17px 15px 17px 15px;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 12px;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.social-icon {
}
.nav-list {
  display: none;
}
.nav-list-item {
}
.nav-item-link {
}
.signup-btn {
  display: none;
}
.camera-icon {
  fill: #bea69e66;
}
.camera-link {
  background-color: #1d1d1d;
  border-radius: 50%;
}
.mob-menu-btn {
  margin-left: 14px;
  background-color: transparent;
  border: none;
}
.burger-icon {
  fill: white;
}

/* TABLET */

@media screen and (min-width: 320px) and (max-width: 360px) {
  .header {
    padding-bottom: 30px;
  }
}
